## If "Tickets" was included in the selection entry, it firest queries
## the tickets that belong to the specified checkpoint
#if(${context.arguments.entrySet())

{
    "version" : "2017-02-28",
    "operation" : "GetItem",
    "key" : {
        "pk" : $util.dynamodb.toDynamoDBJson("checkpoint#${ctx.args.checkpointId}"),
        "sk" : $util.dynamodb.toDynamoDBJson("checkpoint#metadata")
    },
    "consistentRead" : true
}