{
    "version" : "2017-02-28",
    "operation" : "GetItem",
    "key" : {
        "pk" : $util.dynamodb.toDynamoDBJson("checkpoint#${ctx.args.checkpointId}"),
        "sk" : $util.dynamodb.toDynamoDBJson("checkpoint#metadata")
    },
    "consistentRead" : true
}