{
    "version" : "2017-02-28",
    "operation" : "GetItem",
    "key" : {
        "pk" : $util.dynamodb.toDynamoDBJson("route#${ctx.args.routeId}"),
        "sk" : $util.dynamodb.toDynamoDBJson("route#metadata")
    },
    "consistentRead" : true
}