{
    "version" : "2017-02-28",
    "operation" : "GetItem",
    "key" : {
        "pk" : $util.dynamodb.toDynamoDBJson("route#${ctx.args.data.routeId}"),
        "sk" : $util.dynamodb.toDynamoDBJson("trip#${ctx.args.data.companyId}#${ctx.args.data.startTime}")
    },
    "consistentRead" : true
}