{
    "version" : "2017-02-28",
    "operation" : "GetItem",
    "key" : {
        "pk" : $util.dynamodb.toDynamoDBJson("vehicle#${ctx.args.plate}"),
        "sk" : $util.dynamodb.toDynamoDBJson("vehicle#metadata")
    },
    "consistentRead" : true
}